ul.share-buttons{
  list-style: none;
  float:right;
}

ul.share-buttons li{
  display:inline;
}

/*
.social-buttons{
  position:absolute;
  left:-300px;
  top: 10px;
}
*/
.post-body {
  text-align: justify;
}

.top-margin {
  margin-top: 80px;
}