{% extends 'blog/base.html' %}
{% block head_title %}{{ post.title }}{% endblock %}

{% block page-heading %}

    <!-- Page Header -->
      <!-- Set your background image for this header on the line below. -->
  <header class="intro-header">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                      <div class="post-title">
                        <h1>About Blog</h1>
                        <!--<span class="subheading">Stories To Share</span> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>


{% endblock %}

{% block main-body %}

<div class="post">
  <div class="post-body">
    <p>
    {{ post.body | safe }}
    </p>
  </div>
  <hr>
</div>


{% endblock %}