{% extends 'blog/base.html' %}
{% block head_title %}{{ post.title }}{% endblock %}

{% block page-heading %}

    <!-- Page Header -->
      <!-- Set your background image for this header on the line below. -->
  <header class="intro-header">
      <div class="container">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                      <div class="post-title">
                        <h1>{{post.title}}</h1>
                        <!--<span class="subheading">Stories To Share</span> -->
                      </div>
                      <div class="post-meta">
                        <h5><span class="glyphicon glyphicon-time"></span> Posted on: {{post.published_date}} </h5>
                        <h5>
                        {% for category in post.categories.all %}
                          <a href="{{ category.get_absolute_url }}">
                            <span class="label label-primary">{{ category.title }}</span>
                          </a>
                        {% endfor %}

                        </h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>


{% endblock %}

{% block main-body %}

<div class="social-buttons">

  <!-- Facebook like button -->
  <span class="fb-like" data-href="{{post_full_url}}" data-layout="standard" data-action="like" data-show-faces="true"></span>
  <!-- Shocial shares -->
  <ul class="share-buttons">
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{post_full_url}}&t={{post.title}}" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
    <li><a href="https://twitter.com/intent/tweet?source={{post_full_url}}&text={{post.title}}&via=pramodkandel" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
    <li><a href="https://plus.google.com/share?url={{post_full_url}}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
    <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{post_full_url}}&title={{post.title}}&summary=&source=http%3A%2F%2Fpramod.pythonanywhere.com" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    <li><a href="mailto:info@pramodkandel.com?subject={{post.title}}&body=:%20{{post_full_url}}" target="_blank" title="Email"><i class="fa fa-envelope-square fa-2x"></i></a></li>
  </ul>
</div>

<hr>

<div class="post">
  <div class="post-body">
    <p>
    {{ post.body | safe }}
    </p>
  </div>
  <hr>
</div>


<div class="comment-container">
  <div class="fb-comments" data-href="{{full_url}}" data-numposts="5"></div>
</div>


{% endblock %}