{% extends 'blog/base.html' %}
{% block head_title %}{{ post.title }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}

{% block meta %}
    Posted on: {{post.posted_date}} |
    Categories:
        {% for category in categories %}
            {% if forloop.counter == 1 %}
                <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
            {% else %}
                , <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
            {% endif %}
        {% endfor %}
{% endblock %}

{% block content %}
    {{ post.body }}
{% endblock %}