{% extends 'mainsite/base.html' %}
{% load staticfiles %}

{%block first-container %}
  <div class="row">
    <div class="col-sm-4 about">
      <h3> About Me </h3>
      <div class="row">
        <div class="col-sm-4">
          <img src="{% static 'global/images/profile_pic.jpg' %}"  class="img-circle" width="100" height="100"/>
        </div>
        <div class="col-sm-8">
          {{about_me.body | safe}}
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-7 thought">
      <h3> Thought of the Day</h3>
      <p>
        <i class="fa fa-quote-left" aria-hidden="true"></i>
          {{thought_of_the_day.body | safe}}
        <i class="fa fa-quote-right" aria-hidden="true"></i>
      </p>
      <div class="thought-author">-{{thought_of_the_day.author | safe}}</div>
    </div>
  </div>
{% endblock %}

{% block second-container %}
  <h3> Projects </h3>
  <div class="row slideanim">
    <div class="col-sm-4">
      <a href="/blog">
      <span class="glyphicon glyphicon-eye-open logo-small"></span>
      <h4>Blog</h4>
      <p>Read my latest posts..</p>
      </a>
    </div>
    <!--
    <div class="col-sm-4">
      <i class="fa fa-users logo-small" aria-hidden="true"></i>
      <h4>Kandel Ancestry</h4>
      <p>Search Kandels up to 7 generations ago. (Coming Soon..)</p>
    </div>
    <div class="col-sm-4">
      <i class="fa fa-car logo-small" aria-hidden="true"></i>
      <h4>Commute Time</h4>
      <p>Commute time trends for your commute. (Coming Soon..)</p>
    </div>
    -->
  </div>
{% endblock %}